Python Data Structures Assignment

1.  What are data structures, and why are they important?
- Data structures are ways of organizing and storing data so that we can access and use it efficiently.
- Example: A list is a data structure in Python that lets us store multiple items.
- Important: Helps in fast data access, better memory use, and easier manipulation.


2.  Explain the difference between mutable and immutable data types with examples.
- Mutable: Can be changed after creation (e.g., list).

- Immutable: Cannot be changed after creation (e.g., string, tuple).
- Example:
- my_list = [1, 2, 3]
  my_list.append(4)  # Changed (Mutable)
- my_str = "hello"
  my_str[0] = 'H'  #  not changed (Immutable) 'str' object does not support item assignment


3.  What are the main differences between lists and tuples in Python?
- List: Mutable, can be changed after creation, uses square brackets [].
- Tuple: Immutable, cannot be changed after creation, uses parentheses ().
- Example:
- my_list = [1, 2, 3]
- my_tuple = (1, 2, 3)


4.  Describe how dictionaries store data.
- Dictionaries store data in key-value pairs. Keys are unique and used to access the values.Each key points to a value, and they are written inside curly braces {}.
- Example:
- person = {"name": "Aman", "age": 24}


5.  Why might you use a set instead of a list in Python?
- Sets automatically remove duplicates.
- Sets are faster for checking existence (in keyword) because
- List uses linear search → checks one by one. (Slower as list grows)
- Set uses hashing → jumps directly to the item. (Very fast!)
- Example:
- my_set = {1, 2, 3, 2}  # Becomes {1, 2, 3}


6.  What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters inside quotes.
- It can include letters, numbers, symbols, or spaces.
- we can use single (' '), double (" "), or triple quotes (''' ''' / """ """).

- A list is a collection of items, like numbers, words, or anything, written inside square brackets [ ].
- A list can hold multiple data types.
- The items in a list are separated by commas.

- Example:
- s = "hello"
- l = ['h', 'e', 'l', 'l', 'o']


7.  How do tuples ensure data integrity in Python?
- Data integrity means keeping data safe and unchanged.
- Tuples help with data integrity because they are immutable — once created, they cannot be changed.
- This makes sure that the original data stays correct and protected from accidental changes.


8.  What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data using a hash function for quick lookup with unique keys.
- Python dictionaries use hash tables internally, which means when you store or search for a value using a key in a dictionary, Python uses hashing to quickly find the location of that value.


9.  Can lists contain different data types in Python?
-  Yes, lists in Python can contain different data types.
- Python lists are flexible, so we can store:
- Numbers, Strings, Booleans, other lists and even dictionaries or tuples.
- Example:
- my_list = [10, "hello", True, 3.14, [1, 2], {"a": 1}]
print(my_list)


10.  Explain why strings are immutable in Python.
-  Strings are immutable in Python, which means we cannot change them after they are created.
- Strings in Python are immutable to ensure safety, fast performance, and efficient memory use by preventing changes, speeding up operations, and reusing data.

11.  What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer advantages like faster lookups, more meaningful data using keys, and no need to remember indexes.
- They are better than lists when we need to label our data clearly, access values quickly, or manage complex structured information.

12.  Describe a scenario where using a tuple would be preferable over a list.
- A tuple is better than a list when we want to store unchangeable data, like coordinates, dates, or settings.
- For example, storing a person's birth date as a tuple ((2000, 5, 12)) keeps it safe from being changed.

13.  How do sets handle duplicate values in Python?
- Sets do not allow duplicates. If we add the same item more than once, the set will keep it only one time.
- This helps when we want to store unique items like names, IDs, or numbers.


14.  How does the “in” keyword work differently for lists and dictionaries?
- For lists: checks values

- For dictionaries: checks keys only
- Example:
- my_list = [10, 20, 30]
- print(20 in my_list)   # True
- print(50 in my_list)   # False

- my_dict = {'a': 1, 'b': 2}
- print('a' in my_dict)    #  True (key check)
- print(1 in my_dict)      #  False (1 is a value, not a key)

15.  Can you modify the elements of a tuple? Explain why or why not.
- No. Tuples are immutable. We cannot change, add, or remove elements.
- This helps keep our data safe, makes our program faster, and lets Python use tuples as keys in dictionaries or elements in sets.


16.  What is a nested dictionary, and give an example of its use case?
- A dictionary inside another dictionary.
- Example:
- student = {"name": "Aman", "marks": {"math": 90, "science": 95}}


17.  Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary in Python takes O(1) time on average.
- Python dictionaries are built using a hash table, which allows super-fast lookups using the key.

18.  In what situations are lists preferred over dictionaries?
- When order matters
- When we don’t need to label elements
- Example: To store a series of numbers: [10, 20, 30]


19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered because they store data based on keys, not positions like lists.
- In older Python versions (before 3.7), the order of items was not guaranteed to be the same as when added.

- Effect:
- We cannot get values by position (like dict[0] won’t work).
- We must always use the key to get the value.


20.  Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Access by index (position)
- Dictionary: Access by key (name)
- Example:
- my_list[0]  # index based
- my_dict["name"]  # key based

1.  Write a code to create a string with your name and print it

In [ ]:
name = "aman kumar manhas"
print("my name is",name)

my name is aman kumar manhas

2.  Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
print(len(string))

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
str = "Python Programming"
print(str[:3])

Pyt

4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
str1 = "hello"
print(str1.upper())

HELLO

 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str2 =  "I like apple"
print(str2.replace("apple","orange"))

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list.remove(3)
print(list)

[1, 2, 4, 5, 10]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list1 = ["a","b","c","d"]
print(list1[1])

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list2 = [10,20,30,40,50]
print(list2[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple1 = ("red","green","blue","yellow")
print(tuple1[-2])

blue

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple3 = (10,20,5,15)
print(min(tuple3))

5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple4 = ("dog","cat","rabbit")
print(tuple4.index("cat"))

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple","banana","orange","kiwi")
print("kiwi" in fruits)

True

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set = {"a","b","c"}
print(set)

{'a', 'c', 'b'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set1 = {1,2,3,4,5}
set1.clear()
set1

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set2 = {1,2,3,4}
set2.remove(4)
set2

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set3 = {1,2,3}
set4 = {3,4,5}
print(set3.union(set4))
print(set3 | set4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set5 = {1,2,3}
set6 = {2,3,4}
print(set5.intersection(set6))
print(set5 & set6)

{2, 3}
{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict = { "name" : "aman kumar manhas", "age" : 24, "city" : "himachal"}
print(dict)

{'name': 'aman kumar manhas', 'age': 24, 'city': 'himachal'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict1 = {"name" : "john", "age" : 25}
dict1.update({"country":"USA"})
dict1

{'name': 'john', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d2 = {"name":"Alice", "age": 30}
print(d2["name"])
print(d2.get("name"))

Alice
Alice

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d3 = {"name":"Bob", "age":22, "city":"New York"}
d3.pop("age")
d3

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d4 = {"name":"Alice", "city":"Paris"}
print("city" in d4)

True

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [10, 20, 30, "apple", "banana"]
my_tuple = (1, 2, "red", "green")
my_dictionary = {
    "name": "Aman",
    "age": 24,
    "city": "Himachal Pradesh"
}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [10, 20, 30, 'apple', 'banana']
Tuple: (1, 2, 'red', 'green')
Dictionary: {'name': 'Aman', 'age': 24, 'city': 'Himachal Pradesh'}

 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [3]:
import random
random_numbers = []
for i in range(5):
    number = random.randint(1, 100)
    random_numbers.append(number)
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [13, 25, 63, 69, 97]

28. Write a code to create a list with strings and print the element at the third index.

In [6]:
list3 = ["apple","banana","orange","mango","cherry"]
print("the element at third index is =>",list3[2])

the element at third index is => orange

 29. Write a code to combine two dictionaries into one and print the result.

In [7]:
dict_student = {"name1" : "Aman", "name2" : "Vishal", "age1" : 23, "age2" : 24}
dict_marks = {"maths1" : 95 ,"maths2" : 96, "science1" : 99, "science2": 98}
dict_student.update(dict_marks)
dict_student

{'name1': 'Aman',
 'name2': 'Vishal',
 'age1': 23,
 'age2': 24,
 'maths1': 95,
 'maths2': 96,
 'science1': 99,
 'science2': 98}

 30. Write a code to convert a list of strings into a set.

In [9]:
list_of_friends_of_aman = ["kashish","vishal","ankit","shubham","adivitiya","anchal"]
set_of_friends_of_aman = set(list_of_friends_of_aman)
set_of_friends_of_aman

{'adivitiya', 'anchal', 'ankit', 'kashish', 'shubham', 'vishal'}

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])